body{
    background:white;
}

#sign{
    margin-left:150px;
    margin-top: 250px;
}

.card{
    height:200px;
}

.nav{
    background-color: #DF9C8E;
}

.jumbotron{
    background-image: url("../images/background.jpg");
    width:100%;
    height:450px;
    overflow: hidden;
}
.container{
    margin-top:10px;
    align-content: center;
}
.flowerimg{
    width:200px;
    border-radius:50%;
}

.responsive{
    max-width: 100%;
    height: auto;
}

#rulescontainer{
    width:980px;
}

#flowerscontainer{
    width:980px;
}

#rulessign{
    align-content: center;
}

#readytoshop{
    align:center;
    width:100%;
    max-width:980px;
    height:auto;
}